
/* ------- RESETS ------- */
 
html, body, div, span, applet, object, img, h1, h2, h3, h4, h5, h6, a, p, ol, ul, li, font, small, strike, strong, b, u, i, em,	{
	margin: 0px;
	padding: 0px;
	border: 0px;
	outline: 0px;
	font-size: 100%;
	font-style: normal;
	font-weight: normal;
	vertical-align: baseline;
	background: transparent;}

body 		{
	line-height: 1;
	text-align: center;}

ol, ul 		{
	list-style: none;}

header, footer, aside, nav, article, section	{  
	display: block;
	padding: 0px;}

section	{clear: both;}

/* ------- RESETS ------- */