<nav class="navbar navbar-expand-md navbar-light bg-lightbrown fixed-top">
  <div class="container-md">
    <a class="navbar-brand" href="/">
      <img src="images/bdg_logo_horiz.svg" alt="Brown Development Group logo">
    </a>
    <button class="navbar-toggler"
            type="button"
            data-toggle="collapse"
            data-target="#navbarNavAltMarkup"
            aria-controls="navbarNavAltMarkup"
            aria-expanded="false"
            aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse justify-content-end" id="navbarNavAltMarkup">
      <div class="nav navbar-nav ">
        <a class="nav-link" href="/homes">HOMES</a>
        <a class="nav-link" href="/testimonials">TESTIMONIALS</a>
        <a class="nav-link" href="/about">ABOUT</a>
        <a class="nav-link" href="/contact">CONTACT</a>
      </div>
    </div>
  </div>
</nav>
