
/*  FONTS   ===========================================================   */

h1, h2, h3, h4, h5, h6, p, ul, li, a, footer  {
  font-family: 'Open Sans Condensed', Arial, Helvetica, sans-serif;
}

h1  {
  font-family: 'Open Sans', Arial, Helvetica, sans-serif;
  font-size: 2.0em;
  font-weight: 300;
  letter-spacing: 0.0em;
  color: rgba(78, 51, 38, 0.5);
  padding: 30px 40px 30px 40px;
  margin: 50px auto 0px auto;
}

h2  {
  font-family: 'Open Sans', Arial, Helvetica, sans-serif;
}

p     {
  color: rgba(0, 0, 0, 1);
}









/*  BODY  ===========================================================   */

html {
  min-height: 100%;
  position: relative;
}

body  {
  background-color: rgba(255, 255, 255, 1);
  margin: 0px 0px 224px 0px;
  line-height: 1.2;
  text-align: center;
  -webkit-text-size-adjust:100%;
}

.wrapper {
  padding: 80px 0px 40px 0px;
}

footer {
  bottom: 0;
  width: 100%;
  position: absolute;
  height: 224px;
}








/*  BUTTONS   ===========================================================   */

.button {
  margin: 10px 0 10px 0;
}

.button a:link  {
  background-color: rgba(0, 0, 0, .2);
  color: rgba(255, 255, 255, 1);
  font-size: 1.1em;
  text-decoration: none;
  padding: 1px 10px 3px 10px;
}

.button a:hover {
  background-color: rgba(171, 152, 141, 1);
}

.button a:visited {
  color: rgba(255, 255, 255, 1);
}








/*  INTRO  ===========================================================   */

#intro   {
  background-color: rgba(255, 255, 255, 1);
  max-width: 100%;
  margin: 40px auto 0px auto;
}

#intro p  {
  font-size: 1.5em;
  color: rgba(78, 51, 38, 0.7);
  margin: 0px auto 0px auto;
}

#intro strong  {
  font-size: 1.0em;
  color: rgba(78, 51, 38, 1);
}

#intro em  {
  font-size: 1.0em;
  color: rgba(77, 77, 77, 1);
}







/*  HOMEBOX  ===========================================================   */

.homeBox    {
  font-size: 1.2em;
  background-color: rgba(255, 255, 255, 1);
  margin: 0px auto 60px auto;
  max-width: 95%;
}

.homeBox  ul  {
  list-style: none outside none;
  padding: 5px 0 0 0;
  margin: 0;
  text-align: center;
}

.img-responsive {
  height: auto;
  max-width: 100%;
  margin: 0 auto 0 auto;
}

.image-700  {
  height: auto;
  max-width: 95%;
}

.address   {
  color: rgba(0, 0, 0, .5);
  font-weight: 400;
  font-style: italic;
  font-size: 1.8em;
}

.city   {
  color: rgba(0, 0, 0, 1);
  font-size: 1.2em;
}

.price   {
  color: rgba(0, 0, 0, .5);
  font-weight: 300;
  font-size: 1.2em;
}

.details      {
  font-size: 1.2em;
  text-align: left;
  margin: 0 auto 40px auto;
  max-width: 90%;
}

.details  ul    {
  padding-left: 0px;
  list-style-type: square;
  list-style-position: inside;
  text-align: left;
}

.caption  {
  color: rgba(128, 128, 128, 1);
  font-size: 1.2em;
  font-weight: 300;
  margin: 0.2em auto 3.0em auto;
}

.headingBox   {
  background-image: url("../images/marble-white.jpg");
  background-repeat: no-repeat;
  background-position: center;
  max-width: 95%;
  margin: 20px auto 40px auto;
}

.headingBox h2  {
  font-size: 1.6em;
  font-weight: 400;
  color: rgba(255, 255, 255, 1);
  padding: 5px 30px 7px 30px;
  text-shadow: 1px 1px 0 rgba(200, 200, 200, 1), 2px 2px 0 rgba(78, 51, 38, .5);
  text-align: center;
  text-transform: uppercase;
}

.video {
  margin: 0em auto 3.0em auto;
  max-width: 95%;
}











/*  TESTIMONIALS  ===========================================================   */

#testimonials   {
  background-color: rgba(255, 255, 255, 1);
  max-width: 100%;
  padding: 0px 0px 40px 0px;
  margin: 0px auto 0px auto;
}

.testimonial     {
  background-color: rgba(78, 51, 38, 0.3);
  padding: 20px 0px 0px 0px;
  margin: 0px 30px 40px 30px;
}

.testimonial p    {
  font-size: 1.4em;
  line-height: 1.25;
  color: rgba(77, 77, 77, 1);
  text-align: left;
  padding: 0px 20px 20px 20px;
  margin: 0px 0px 0px 0px;
}












/*  ABOUT  ===========================================================   */

#about ul  {
  list-style: square inside none;
  font-size: 1.4em;
  line-height: 1.1;
  text-align: left;
  padding: 0px 10px 0px 20px;
  margin: 0px auto 0px auto;
}












/*  CONTACT  ===========================================================   */

#contact p  {
  font-size: 1.4em;
  line-height: 1.7;
  margin: 0 auto 0 auto;
}

#contact a:link  {
  color: rgba(78, 51, 38, 0.5);
  font-size: 2.5em;
  text-decoration: none;
}

#contact a:hover  {
  color: rgba(78, 51, 38, 0.9);
}











/*  FOOTER  ===========================================================   */

footer  {
  background-color: rgba(171, 152, 141, 1);
  padding: 60px 0px 60px 0px;
  line-height: 1.7;
}

footer h1  {
  font-family: 'Open Sans', Arial, Helvetica, sans-serif;
  font-size: 3.0em;
  font-weight: 300;
  letter-spacing: 0.2em;
  color: rgba(255, 255, 255, 1);
  padding: 40px 0px 40px 0px;
  margin: 0px auto 0px auto;
}

footer h2  {
  font-family: 'Open Sans Condensed', Arial, Helvetica, sans-serif;
  font-size: 1.3em;
  font-weight: 700;
  color: rgba(40, 27, 13, 1);
  padding: 40px 30px 20px 30px;
  margin: 0px auto 0px auto;
}

footer p  {
  color: rgba(40, 27, 13, 0.7);
  font-size: 1.2em;
  margin: 0px auto 0px auto;
}

footer a:link  {
  color: rgba(255, 255, 255, 1);
  font-size: 1.7em;
  text-decoration: none;
  padding: 1px 10px 3px 10px;
}

footer a:hover  {
  color: rgba(255, 255, 255, .7);
}


















/*  RESPONSIVE CSS  ===========================================================   */





/* ~~~~~~~~~~~~~~~ min-width: 700px +  ~~~~~~~~~~~~~~~~~~~~~~~~~ */

@media (min-width: 700px) {

  #intro p {
    font-size: 1.8em;
  }

	.homeBox    {
  	font-size: 1.2em;
    margin: 0px auto 60px auto;
	}

	.details	 		{
		font-size: 1.2em;
		max-width: 500px;
	}

  .headingBox   {
    width: 700px;
    margin: 20px auto 40px auto;
  }

  .testimonial   {
    max-width: 700px;
    margin: 0px auto 40px auto;
  }

  #about ul  {
    max-width: 600px;
  }

  .carousel {
    max-width: 700px;
    margin: 0px auto 0px auto;
  }

  .carousel-control .glyphicon-chevron-left,
  .carousel-control .glyphicon-chevron-right,
  .carousel-control .icon-prev,
  .carousel-control .icon-next {
    width: 30px;
    height: 30px;
    margin-top: 0px;
    margin-left: 0px;
    font-size: 20px;
  }

}
